
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Detail View</title>
</head>
<body>


<div class="container">
     <div class="jumbotron">




<h3>Stock Name: {{object.symbol}}</h3>



         <p>Date: {{object.date}}</p>
         <p>High: {{object.high}}</p>
         <p>Low: {{object.low}}</p>
         <p>Open: {{object.open}}</p>
         <p>Close: {{object.close}}</p>
         <p> Volume: {{object.volume}}</p>
         <p> Adjust Close: {{object.adj_close}}</p>



    </div>
    </div>

</body>
</html>
