
{% extends 'base.html' %}

{% block title %}
    ToDo List
{% endblock %}



    {% block content %}

     <h1> <center>ToDo🧐</center></h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissable fade show" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button>
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}







        {% if all_items %}
        <table>

            {%for items in all_items%}

            {% if items.completed %}

        <tr>

          <td><strike> {{ items.item }} </strike></td>

            <td><a href=" {% url 'delete' items.id %}"> Delete </a> </td>

        </tr>

        {% else %}
        <tr>
            <td> {{ items.item }}  </td>
            <td><a href=" {% url 'delete' items.id %}"> Delete </a> </td>


        </tr>

        {% endif %}

        {% endfor %}
        </table>

        {% endif %}


    {% endblock %}




